.row
  .col-md-4
  .col-md-4
    %h2 #{t 'devise.confirmation.lb_resend_confirmation_instructions'}
    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!
      .form-group
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true,
        value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control"
      .actions
        = f.submit "#{t 'devise.confirmation.b_resend_confirmation_instructions'}",  class: "btn btn-default"
      %br/
    =# render "devise/shared/links"
