.row
  .col-md-4
  .col-md-4
    %h2
      #{t 'devise.registrations.edit.lb_top_title'}
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = render 'shared/error_messages', object: f.object
      = #devise_error_messages!
      .form-group
        = f.label :username
        %em (20 #{t 'all.i_max_char'})
        %br/
        = f.text_field :username, class: "form-control",autofocus: true
      .form-group
        =f.label :name
        %em (40 #{t 'all.i_max_char'})
        %br/
        = f.text_field :name, class: "form-control"
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.name}
      .form-group
        = f.label :email
        %br/
        = f.email_field :email, class: "form-control"
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .form-group
        = f.label :password
        %i ( #{t 'devise.registrations.edit.i_password'})
        %br/
        = f.password_field :password, autocomplete: "off", class: "form-control"
      .form-group
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
      .form-group
        = f.label :current_password
        %i (#{t 'devise.registrations.edit.i_current_password'})
        %br/
        = f.password_field :current_password, autocomplete: "off", class: "form-control"
      .form-group
        = f.label :image
        = f.file_field :image
      .form-group
        = f.submit "#{t 'devise.registrations.edit.b_update'}", class: "btn btn-default"
      - resource_class.omniauth_providers.each do |provider|
        = bounds_acc(provider)
        %p
    = button_to "#{t 'devise.registrations.edit.b_cancel'}", registration_path(resource_name), class: "btn btn-danger", data: { confirm: "Are you sure?" }, method: :delete
    %p
      = link_to "#{t 'all.l_back'}", :back
