.div_new_comm
  %h4 #{t 'comments.lb_what_do_you_hink'}
  .hr_margin
    %hr
  .error_area

  = form_for @post.comments.new, remote: true do |f|
    = f.hidden_field :post_id, value: @post.id
    = f.hidden_field :page, value: params[:page]
    .form-group
      = f.label :content
      %em
        (10000 #{t 'all.i_max_char'})
      %br/
      = f.text_area :content, class: "form-control", rows: "2", maxlength: "150"
      %br/
      = link_to "Back", :back
      .pull-right
        = f.submit "#{t 'comments.b_comment'}", class: "btn btn-primary"