.div_new_comm
  %h4 What do you think of it?
  .hr_margin
    %hr
  .error_area

  = form_for @post.comments.new, remote: true do |f|
    = f.hidden_field :post_id, value: @post.id
    = f.hidden_field :page, value: params[:page]
    .form-group
      = f.label :content,  value: "Content"
      %br/
      = f.text_area :content, class: "form-control", rows: "2"
      %br/
      = link_to "Back", :back
      .pull-right
        = f.submit "Comment", class: "btn btn-primary"