.div_post
  %br
    -if @post.user.image_url(:thumb).to_s == ""
      = image_tag("avatar.png", size: "50x50", alt: "Avatar")
    -else
      = image_tag("#{ @post.user.image_url(:thumb)}")
    .name
      =  @post.user.username
    .time_ago
      = "Posted #{time_ago_in_words( @post.created_at)} ago."
      -if user_signed_in? && current_user.id == @post.user.id
        = link_to "delete", @post, method: :delete
    %br
    %b
      = link_to  @post.topik, post_path( @post.id)
    %br
      .clip
        = @post.content
    %br