- @posts.each do |pst|
  .div_posts.clip
    %br
    -if pst.user.image.thumb.blank? || !pst.user.image.thumb.file.exists?
      = image_tag("avatar.png", size: "50x50", alt: "Avatar")
    -else
      = image_tag("#{pst.user.image_url(:thumb)}", class: "img-circle")
    .name
      = pst.user.username
    .time_ago
      = "#{t 'posts.lb_posted'} #{ time_ago_in_words(pst.created_at) } #{t 'all.lb_ago'}."
    %br
    %b
      = link_to pst.topik, post_path(pst.id)
    %br
      #{t 'posts.lb_tag_list'}: #{ raw pst.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')}
      %br
      = show_content(pst).html_safe
    %br