.row
  .col-md-3
  .col-md-6
    %h2 Create post
    = form_for @post do |f|
      = #render 'shared/error_messages', object: f.object
      = #devise_error_messages!
      .form-group
        = f.label :topik,  value: "Topic"
        %em
          (150 characters maximum)
        %br/
        = f.text_field :topik, class: "form-control", autofocus: true, maxlength: "150"
      .form-group
        = f.label :tag_list
        %br/
        = f.text_field :tag_list, class: "form-control"
      .form-group
        = f.label :content,  value: "Content"
        %em
          (10000 characters maximum)
        %br/
        = f.text_area :content, class: "form-control", rows: '7', maxlength: "10000"
        %br/
        = link_to "Back", :back
        .pull-right
          = f.submit "Create post", class: "btn btn-primary"
