%p
  #{t 'devise.mailer.lb_welcome'} #{@email}!
%p #{t 'devise.mailer.lb_you_can_confirm_your_account_email'}
%p= link_to "#{t 'devise.mailer.l_confirm_my_account'}", confirmation_url(@resource, confirmation_token: @token)
