%p
  #{t 'devise.mailer.lb_hello'} #{@resource.email}!
%p #{t 'devise.mailer.lb_someone_has_requested_a_link'}
%p= link_to "#{t 'devise.mailer.l_change_my_password'}", edit_password_url(@resource, reset_password_token: @token)
%p #{t 'devise.mailer.lb_if_you_didnt_request_this'}
%p #{t 'devise.mailer.lb_your_password_wont_change'}
